html {
  line-height: 1.30;
}

.content {
  max-width: 1440px;
  margin: auto;
}

.logo {
  display: flex;
  padding-left: 8px;
  justify-self: start;
  max-width: 180px;
  height: auto;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 50px;
  text-align: center;
  border-bottom: 2px solid;
  border-color: #b50051;
}

main {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}

footer {
  background-color: #e7ecee;
  padding: 10px;
  margin-top: 20px;
  overflow-wrap: break-word;
}

img {
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}

a {
  color: #34444c;
  text-decoration: none;
}

a:visited {
  color: #34444c;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}

a:focus {
  color: #a8bbc5;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  text-align: center;
  color: white;
  background-color: #b50051;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 60px;
  transition-duration: 0.4s;
  transition-property: background-color;
}

a.button {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

.button:hover {
  background-color: #DE0063;
  color: white;
}

.case {
  transition-duration: 0.2s;
  transition-property: opacity;
}

.case:hover {
  opacity: 0.4;
}

.bigfontcontact p {
  font-size: 2.0em;
  margin: 0;
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.bigfontcontact p:hover {
  font-size: 3.5em;
}

font {
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4;
  color: #34444c;
}

h1 {
  font-size: 3.00em;
  font-weight: 800;
}

h2 {
  font-size: 2.00em;
  font-weight: 800;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 6px;
}

h4 {
  font-size: 1.50em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

h5 {
  font-size: 1.00em;
  font-weight: 500;
  margin-top: 0;
}

h6 {
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
  margin-top: 0px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

nav {
  margin-top: 4px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #34444c;
}

nav>ul>li>a:visited a:visited {
  color: #34444c;
}

nav>ul>li>a:active a:active {
  color: #34444c;
}

a:hover {
  color: #b50051;
}

a:active {
  color: #34444c;
}

a:focus {
  color: #a8bbc5;
}

#hero {
  font-size: 2.00em;
  text-align: left;
  color: #34444c;
  margin: 0px;
}

#herospan {
  font-size: 2.00em;
  display: block;
  margin: 0px;
}

#herocopy {
  font-size: 1.25em;
  text-align: left;
  font-weight: 500;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #34444c;
}

#opener {
  max-width: 300px;
}

.overline {
  font-family: 'Work Sans', sans-serif;
  color: #34444c;
  opacity: 80%;
  margin-top: 10px;
  margin-bottom: 4px;
}

.caption {
  font-family: 'Work Sans', sans-serif;
  color: #34444c;
  font-weight: 600;
}

#imprint {
  font-family: 'Work Sans', sans-serif;
  color: #34444c;
  text-align: right;
  vertical-align: bottom;
  margin-bottom: 6px;
}

#adresse {
  font-family: 'Work Sans', sans-serif;
  color: #34444c;
  text-align: left;
  vertical-align: bottom;
  margin-bottom: 6px;
}

.wrapper, .twowrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.imgicons {
  width: 40px;
  height: 40px;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

.iconcontainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li:last-child {
  display: inline-block;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 2px;
  background-color: white;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.spacer {
  width: 100%;
  height: 20px;
}

.footerspacer {
  width: 100%;
  height: 30px;
}

#h2footer {
  font-size: 2.00em;
  font-weight: 800;
  margin: 8px;
}

#quote {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.00em;
  font-weight: 400;
  text-align: center;
  color: #b50051;
  margin: 20px;
}

#quotecaption {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ab4448;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  nav {
    width: auto;
    float: right;
    text-align: center;
    margin-right: 16px
  }

  header {
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 2px solid;
    border-color: #b50051;
  }

  .logo {
    max-width: 210px;
    padding-left: 16px;
  }

  .header-style {
    text-align: unset;
    max-width: 1440px;
    margin: auto;
  }

  .wrapper, .twowrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  main {
    padding-left: 16px;
    padding-right: 16px;
  }

  .column {
    width: 20.00%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #herospan {
    font-size: 2.75em;
  }

  #hero {
    font-size: 2.75em;
  }

  #quote {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.75em;
    margin: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul>li {
    display: inline-block;
  }

  .spacer {
    width: 100%;
    height: 150px;
  }

  .footerspacer {
    width: 100%;
    height: 60px;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    header {
      height: 120px;
      text-align: unset;
      border-bottom: 2px solid;
      border-color: #b50051;
      border-spacing: 0 50px;
    }

    .content {
      margin: 30px;
    }

    nav {
      width: auto;
      text-align: center;
      margin-top: 4px;
    }

    nav>ul>li>a {
      padding: 0 30px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.25em;
      font-weight: 400;
      color: #34444c;
    }

    h2 {
      font-size: 2.50em;
      font-weight: 800;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 6px;
      margin-top: 6px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5em;
      row-gap: 1em;
    }

    .twowrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5em;
      row-gap: 1em;
    }

    #hero {
      font-size: 3.5em;
    }

    #herospan {
      font-size: 3.5em;
    }

    #herocopy {
      font-size: 1.75em;
    }

    .caption {
      font-size: 18px;
    }

    main {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 35px;
    }

    .logo {
      width: 280px;
      height: auto;
      padding-left: 24px;
    }

    h3 {
      font-size: 2.00em;
    }

    .logo {
      max-width: 260px;
      padding-left: 24px;
      padding-top: 20px;
    }

    .spacer {
      width: 100%;
      height: 190px;
    }

    .footerspacer {
      width: 100%;
      height: 100px;
    }

    #h2footer {
      font-size: 2.50em;
      font-weight: 800;
      margin: 14px;
    }

    #imgicons {
      width: 40px;
      height: 40px;
      padding: 30px;
      display: inline-block;
      text-align: center;
    }

    #quote {
      font-family: 'Work Sans', sans-serif;
      font-size: 3.25em;
      margin: 30px;
    }
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5em;
      row-gap: 1em;
    }

    .twowrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5em;
      row-gap: 1em;
    }

    .spacer {
      height: 190px;
    }
  }
